<%= form_for(@robot_data) do |f| %>
  <% if @robot_data.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot_data.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @robot_data.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :robot_name %><br>
    <%= f.text_field :robot_name %>
  </div>
  <div class="field">
    <%= f.label :robot_description %><br>
    <%= f.text_area :robot_description %>
  </div>
  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
<div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :bot_type %><br>
    <%= f.text_field :bot_type %>
  </div>
  <div class="field">
    <%= f.label :fuel %><br>
    <%= f.text_field :fuel %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
